<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TerminOppgave</title>
    <link rel="stylesheet" href="style_dlight.css" />
    <link rel="icon" href="BilderTO/Logo_Utkast1_PS_photos.png">
  </head>
  <body>
    <div class="megaback">
      <div class="header">
        <h1 class="Name">Erlend</h1>
        <h1 class="Title">Design Manual</h1>
        <img
          class="logo"
          src="BilderTO/Logo_Utkast1_PS_photos.png"
          alt="LOGO"
          height="150"
          width="160"
        />
      </div>
      <div class="background">
        <div class="menuoverlord">
          <div class="menu">
            <span>Menu</span>
            <div class="menubox">
              <ul>
                <li><a href="index.html">Index</a></li>
                <li><a href="Design_Manual.html">Design Manual</a></li>
                <li><a href="Portfolio.html">Portfolio</a></li>
                <li><a href="About_me.html">About me</a></li>
                <select name="themes" id="themes">
                  <option value="light">Light</option>
                  <option value="dark">Dark</option>
                </select>
              </ul>
            </div>
          </div>
        </div>
      <div class="extraback">
        <iframe src="DesignManual/DesignManualTermin.pdf" frameborder="0" width="80%" ></iframe>
      </div>
      <footer>
        <p>Kontakt info:</p>
        <p>Tlf nr: 483 44 959</p>
        <p>E-post: eskeland.erlend@gmail.com</p>
      </footer>
    </div>
    <script src="script_d.js"></script>
  </body>
</html>
