<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Skohubben</title>
</head>

<body onload="onstart()">

    <!-- Header starts here -->

    <header>
        <a class="logoContainer" href="shopHome.html">
            <img width="100%" height="100%" src="IMGS/SkoHubbenBlå1.png" alt="SkohubbenLogo" class="logo">
        </a>
        <div class="filter">
            <h2 class="brands" onclick="nikesOnly()">Nikes</h2>
            <h2 class="brands" onclick="jordansOnly()">Jordans</h2>
            <h2 class="brands" onclick="adidasOnly()">Adidas</h2>
        </div>
        <div class="cartUserSearch">
            <input class="search" type="text" placeholder="Search..." />
            <a class="cart" href="shoppingcart.html">
                <div id="cartCounter"></div>
                <img src="IMGS/Handlevogn_1utkast.svg" alt="ShoppingCart">
            </a>
            <a href="userPage.html">
                <img class="userPage" src="IMGS/defaultUser.jpg" alt="Liked Page">
            </a>
        </div>
    </header>

    <!-- Header ends here -->


    <div class="shopBack">
        <div class="adcontainer">
            <img class="ad" src="IMGS/BlackJackAd.png" alt="BlackJackAd">
        </div>

        <!-- Ad ends here -->


        <!-- Shoe selection starts here -->


        <h1>Top sellers this week</h1>
        <div class="selectBack">
            <div class="products" id="product0">
            </div>
            <div class="products" id="product1">
            </div>
            <div class="products" id="product2">
            </div>
            <div class="products" id="product3">
            </div>
        </div>

        <!--NEW ROW-->


        <div class="selectBack">
            <div class="products" id="product4">
            </div>
            <div class="products" id="product5">
            </div>
            <div class="products" id="product6">
            </div>
            <div class="products" id="product7">
            </div>
        </div>


        <!--NEW ROW-->

        <div id="exRows">
            <div class="selectBack">
                <div class="products" id="product8">
                </div>
                <div class="products" id="product9">
                </div>
                <div class="products" id="product10">
                </div>
                <div class="products" id="product11">
                </div>
            </div>


            <!--NEW ROW-->


            <div class="selectBack">
                <div class="products" id="product12">
                </div>
                <div class="products" id="product13">
                </div>
                <div class="products" id="product14">
                </div>
                <div class="products" id="product15">
                </div>
            </div>


            <!--NEW ROW-->

            <div class="selectBack">
                <div class="products" id="product16">
                </div>
                <div class="products" id="product17">
                </div>
                <div class="products" id="product18">
                </div>
                <div class="products" id="product19">
                </div>
            </div>

            <!--NEW ROW-->

            <div class="selectBack">
                <div class="products" id="product20">
                </div>
                <div class="products" id="product21">
                </div>
                <div class="products" id="product22">
                </div>
                <div class="products" id="product23">
                </div>
            </div>

            <!--Shoe selection ends here-->


            <!--Footer starts here-->

        </div>
        <!-- <footer>
            <div class="footMenu"></div>
        </footer> -->

        <!--Footer ends here-->

</body>
<script src="arrays.js"></script>

</html>